# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
# roadhog-api-doc ignore
/src/utils/request-temp.js
_roadhog-api-doc

# production
/dist
/.vscode
.changelog
build
.docz
.umi

# misc
.DS_Store
npm-debug.log*
yarn-error.log
lerna-debug.log*

/coverage
.idea
yarn.lock
package-lock.json
*bak
.vscode

# visual studio code
.history
*.log
functions/*
.temp/**

# screenshot
screenshot
.firebase
.eslintcache

# packages
/packages/*/node_modules
/packages/*/lib
/packages/*/dist
/packages/**/node_modules/.cache
/packages/**/.docz
/packages/**/package-lock\.json

# settings
config/deploy
**/**/config.mainnet.js
**/**/config.local.js
**/**/.ddnrc.local.js
blockchain.*
*.db
*.db-journal

# custom
**/**/*.hbl.js
**/**/*.custom.js
examples/peer*
.ddnrc.js